
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    margin-top:5%;
    margin-left: 5%;
}
.output{
    height:auto;
    width:500px;
    display: block;
    margin: 0 auto;
}

.outer-body{
    height:300px;
    width:500px;
    border: 2px solid green;
    background-color: lightgreen;
    padding:10px;
    margin:0 auto;
    display: flex;
flex-direction: column;
gap:10px;
}
.inner-element{
    width:100%;
    border: 2px solid blue;
    display: flex;
    gap:10px;
}
.inner-element:nth-child(1){
    justify-content: space-evenly;
    align-items: center;    
    padding:15px;
  
}
.div-1-inner-divs{
    height: 50px;
    width:150px;
    border:2px solid red;
}

.div-1-inner-divs:nth-child(2){
    display: flex;
    padding:5px;
}
.div-1-inner-divs-2{
    flex: 1;
    border: 1px solid red;
  
}



/* 2nd element starts */

.inner-element:nth-child(2){
    border:none;
    gap:5px;
}


.div-2a{
    height:120px;
    width: 100%;
    background-color: peachpuff;
    border: 3px solid maroon;
}
.div-2b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:120px;
    width: 100%;
}
.div-2b-inner{
    height:57px;
   
    width:100%;
    background-color: peachpuff;
    border: 3px solid maroon;
    
}